@page "/products"

<AuthorizeView>
    <p>Prueba</p>
</AuthorizeView>

@if (_products != null)
{
    <div class="top-options">
        <Searcher PlaceHolder="Busca por nombre" OnSubmit="Search" />
        <Button Title="@TextOrderButton" Style="Buttons.Secondary" Click="Order" />
    </div>

    @if (_products.Any())
    {
        <div id="grid-products">
            @foreach (var pro in _products)
            {
                <div class="product">
                    <dvi class="image-product" style="background-image: url(@pro.ImageUrl);"></dvi>
                    <dvi class="body-product">
                        <div class="info-basic-product">
                            <h3>@pro.Name</h3>
                            <p>@pro.Price.MoneyFormat()</p>
                        </div>
                        <div class="actions-produc">
                            <button class="more-button" @onclick="()=> SelecteProduct(pro, true)">Ver más</button>
                            @if (pro.Stock > 0)
                            {
                                <button @onclick="()=> SelecteProduct(pro, false)" class="add-cart-circle"><Icon Name="Icons.AddCart" /></button>
                            }
                            else
                            {
                                <span class="exhausted">Agotado</span>
                            }
                        </div>
                    </dvi>
                </div>
            }
        </div>
    }
    else
    {
        <div class="center-content">
            <p>@_emptyMessage</p>
        </div>
    }
}

@if (_isDetailVisible)
{
    <Popup ClosePopup="()=> _isDetailVisible = false" Title="Detalle de Producto" MaxWidth="700">
        <ProductDetail Product="_selectedProduct" AddToCart="AddToCart" />
    </Popup>
}